[submodule "buildtools"]
	path = buildtools
	url = git://github.com/nevali/buildtools.git
[submodule "dss"]
	path = dss
	url = git://github.com/nevali/dss.git
[submodule "tsdemux"]
	path = tsdemux
	url = git://github.com/nevali/tsdemux.git
[submodule "tstools"]
	path = tstools
	url = git://github.com/nevali/tstools.git
[submodule "mpeg4ip"]
	path = mpeg4ip
	url = git://github.com/nevali/mpeg4ip.git
[submodule "schroedinger-tools"]
	path = schroedinger-tools
	url = git://diracvideo.org/git/schroedinger-tools.git
[submodule "schroedinger"]
	path = schroedinger
	url = git://diracvideo.org/git/schroedinger.git
[submodule "ffmpeg"]
	path = ffmpeg
	url = git://git.ffmpeg.org/ffmpeg/
[submodule "x264"]
	path = x264
	url = git://git.videolan.org/x264.git
[submodule "flvstreamer"]
	path = flvstreamer
	url = git://github.com/nevali/flvstreamer.git
[submodule "libswscale"]
	path = libswscale
	url = git://git.ffmpeg.org/libswscale/
[submodule "liboil"]
	path = liboil
	url = git://anongit.freedesktop.org/git/liboil
[submodule "libpng"]
	path = libpng
	url = git://libpng.git.sourceforge.net/gitroot/libpng/libpng
[submodule "opencaster"]
	path = opencaster
	url = git://github.com/nexgenta/opencaster.git
