[submodule "buildtools"]
	path = buildtools
	url = git://github.com/nevali/buildtools.git
[submodule "dss"]
	path = dss
	url = git://github.com/nevali/dss.git
[submodule "tsdemux"]
	path = tsdemux
	url = git://github.com/nevali/tsdemux.git
[submodule "tstools"]
	path = tstools
	url = git://github.com/nevali/tstools.git
[submodule "shroedinger"]
	path = shroedinger
	url = git://diracvideo.org/git/schroedinger.git
